

html {
    scroll-padding-top: 70px; /* height of sticky header */
}

.carousel {
    width: 100%;
}

.carousel-div {
    display: inline-block;
    margin-left: 2%;
}

/* #view-details-header-text{
    color: rgb(240, 247, 247);
    background-color:rgba(8, 22, 215, 0.989);
    text-align: center;
    height: 35px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    display:block;
    z-index: 1;
} */



.flex-child:first-child {
    /* margin-left: 7%; */
    width: 23%;
} 

/* #show_jobs{
    margin-left: 465px;
    width: 850px;
    margin-top: 15px;
} */

#show_jobs{
    min-width: 70%;
}

@media only screen and (max-width: 768px) {
    #show_jobs{
        min-width: 380px;
    }
}

@media only screen and (min-width: 868px) {
    #show_grid{
        display: flex;
        flex-direction: row;
    }
}

#show_grid{
    margin-right: 12%;
    color: green;
    /* display: flex;
    flex-direction: row; */
    
}

#show_filters {
    color: green;
    background-color:rgba(173, 236, 202, 0.084);
    border-radius: 15px;
    height: 550px;
    /* margin-top: 1%; */
    margin-right: 5px;
    /* position: fixed; */
    overflow: hidden;
    min-width: 320px;
    max-width: 30%;
    /* z-index: -1; */
    /* margin-top: 5%; */
    margin-left: 5%;
    margin-right: 5px;
    display: block;
}

#mat-grid-show-elements {
    /* border: 1px solid rgba(50, 70, 20, 0.862); */
    border-radius: 7px;
    background-color:rgba(173, 236, 202, 0.03);
    box-shadow: 0px 3px #293d1537;
    display:grid;
    margin-top: 50vh;
}

.element-inside-grid {
    left: 5px;
    right: 5px;
    padding: 5px;
}

#apply-button {
    margin-top: 10px;
    color: green;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    padding: 5px 32px;
    display: inline-block;
    border-style: hidden;
    background-color: rgb(119, 252, 223);
    transition:0.5s;
    
}

#apply-button:hover{
    color: white;
    background-color: green;
    transform: scale(1.2);
}

.ui-widget{
    width: 300;
    background-color: rgba(242, 250, 249, 0.567);
    border-radius: 20px;
}

#company_logo{
    border-radius: 50px;
}

.search-company {
    width: 120%;
    padding-bottom: 50px;
    margin:auto;
    border-radius: 15px;
}

.form-control::placeholder  {
    font-family: FontAwesome;
}

.h1filter{
    display: inline-block;
}

.reset_filter{
    float: right;
    margin-right: 10px;
    margin-top: 7px;;
    background: None;
    border-radius: 15px;
    border-color: Blue;
    color: green;
    text-decoration-color: Blue;
}

.form-control{
    border-radius: 5px;
    width: 59%;
    height: 22px;
}

.search-company{
    max-height: 40px;
    background-color: None;
}

.type-text {
    display: inline-block;
    
}

.type-div {
    float: right;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 8px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.status-text {
    display: inline-block;
}

.status-div {
    float: right;
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 8px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.location-text {
    display: inline-block;
}

.location-div {
    float: right;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 8px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

mat-paginator {
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(2, 62, 99, 0.847);
    border-radius: 5px;
    margin-top: 2px; 
    box-shadow: 3px 3px 3px 3px #3165031e;
    max-height: 50px;
}

.flip-card {
    background-color: transparent;
    width: 120px;
    height: 100px;
    perspective: 1000px;
    margin-right: 0px;
    margin-left: 50px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbbbbb0c;
    color: black;
  }
  
  .flip-card-back {
    background-color: #d7fc3500;
    color: rgb(70, 118, 59);
    transform: rotateY(180deg);
  }
